<template id="" name="cardPendingActivities">
  <div class="ey-card-container">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Pending Activities</div>
    </div>
    <div class="ey-card-activities-block w-clearfix">
      <div class="ey-card-activities-block_checkbox"><img height="16" src="../images/shape_1.png" width="16">
      </div>
      <div class="ey-card-activities-block_checkbox_txt">
        <div class="ey-card-activities_text_1">Work permit&nbsp;application</div>
        <div class="ey-card-activities_text_1 second_text">Submitted 1 day ago</div><a class="ey-card-activities_text_link" href="#">Check status</a>
      </div>
    </div>
    <div class="ey-card-activities-block w-clearfix">
      <div class="ey-card-activities-block_checkbox"><img height="16" src="../images/shape_1.png" width="16">
      </div>
      <div class="ey-card-activities-block_checkbox_txt">
        <div class="ey-card-activities_text_1">Flight details uploaded</div>
        <div class="ey-card-activities_text_1 second_text">Provided from HRG 1 week ago</div><a class="ey-card-activities_text_link" href="#">Validate</a>
      </div>
    </div>
    <div class="ey-card-activities-block last w-clearfix">
      <div class="ey-card-activities-block_checkbox"><img height="16" src="../images/shape.png" width="16">
      </div>
      <div class="ey-card-activities-block_checkbox_txt">
        <div class="ey-card-activities_text_1 text_2">Set up temporary accomodation</div>
        <div class="ey-card-activities_text_1 second_text">Due in 1 month</div><a class="ey-card-activities_text_link" href="#">Access relocation services</a>
      </div>
    </div>
  </div>


  <!-- <div class="ey-card-container">
    <div class="ey-card-title">
      <div class="ey-card-title-txt">Pending Activities</div>
    </div>
    <div class="ey-card-activities-block w-clearfix">
      <div class="ey-card-activities-block_checkbox"><img height="16" id="upload-activity-icon-unchecked" src="../images/shape.png" width="16"><img height="16" id="upload-activity-icon-checked" src="../images/ic-check-box.svg" width="16">
      </div>
      <div class="ey-card-activities-block_checkbox_txt">
        <div class="ey-card-activities_text_1 text_2" id="upload-passport-activity-text">Upload passport scan</div>
        <div class="ey-card-activities_text_1 second_text" id="upload-activity-status-text">Due in 8 days</div><a class="ey-card-activities_text_link" href="#">Check status</a>
      </div>
    </div>
    <div class="ey-card-activities-block w-clearfix">
      <div class="ey-card-activities-block_checkbox"><img height="16" src="../images/shape.png" width="16">
      </div>
      <div class="ey-card-activities-block_checkbox_txt">
        <div class="ey-card-activities_text_1 text_2">Validate flight details</div>
        <div class="ey-card-activities_text_1 second_text">Provided from HRG 1 week ago</div><a class="ey-card-activities_text_link" href="#">Validate</a>
      </div>
    </div>
    <div class="ey-card-activities-block last w-clearfix">
      <div class="ey-card-activities-block_checkbox"><img height="16" src="../images/shape.png" width="16">
      </div>
      <div class="ey-card-activities-block_checkbox_txt">
        <div class="ey-card-activities_text_1 text_2">Book accomodation</div>
        <div class="ey-card-activities_text_1 second_text">Due in 1 month</div><a class="ey-card-activities_text_link" href="#">Access HRG</a>
      </div>
    </div>
  </div> -->
</template>
