<template name="cardEmployeeStatus">
  <div class="ey-employee-status-card w-clearfix">
    <div class="ey-employee-status-card-left-col"><img class="ey-employee-status-card-image" height="100" src="../images/employee-photo2x.png" width="100">
    </div>
    <div class="ey-employee-status-card-middle-col">
      <div class="w-row">
        <div class="ey-employee-status-card-middle-col-one w-col w-col-1">
          <div class="ey-employee-status-card-icon w-embed"><i class="material-icons ey-employee-status-card-icon">face</i>
          </div>
          <div class="ey-employee-status-card-icon w-embed"><i class="material-icons ey-employee-status-card-icon">business_center</i>
          </div>
          <div class="ey-employee-status-card-icon w-embed"><i class="material-icons ey-employee-status-card-icon">public</i>
          </div>
        </div>
        <div class="ey-employee-status-card-middle-col-two w-col w-col-5">
          <div class="ey-employee-status-card-label">Employee</div>
          <div class="ey-employee-status-card-label">Employee Role</div>
          <div class="ey-employee-status-card-label">Nationality</div>
        </div>
        <div class="ey-employee-status-card-text-col first-col w-col w-col-6">
          <div class="ey-employee-status-card-text">Lisa Wiltz</div>
          <div class="ey-employee-status-card-text">Project Manager</div>
          <div class="ey-employee-status-card-text">United Kingdom</div>
        </div>
      </div>
    </div>
    <div class="ey-employee-status-card-right-col">
      <div class="w-row">
        <div class="ey-employee-card-icon-col ey-employee-status-card-right-col-one w-col w-col-1">
          <div class="ey-employee-status-card-icon w-embed"><i class="material-icons ey-employee-status-card-icon">room</i>
          </div>
          <div class="ey-employee-status-card-icon w-embed"><i class="material-icons ey-employee-status-card-icon">airplanemode_active</i>
          </div>
          <div class="ey-employee-status-card-icon w-embed"><i class="material-icons ey-employee-status-card-icon">account_balance</i>
          </div>
        </div>
        <div class="ey-employee-card-label-col w-col w-col-5">
          <div class="ey-employee-status-card-label">Assignment location</div>
          <div class="ey-employee-status-card-label">Active Trips</div>
          <div class="ey-employee-status-card-label">Tax Filling Locations</div>
        </div>
        <div class="ey-employee-status-card-text-col w-col w-col-6">
          <div class="ey-employee-status-card-text">Brazil</div>
          <div class="ey-employee-status-card-text">&nbsp;(3)</div>
          <div class="ey-employee-status-card-text">United Kingdom, Brazil</div>
        </div>
      </div>
      <div class="ey-employee-status-card-link">View more information</div>
    </div>
  </div>
  
</template>
