<template name="nav">
  <div class="ey-left-navigation">
    <div class="ey-left-nav-logo-container">
      <a href="/">
      <img class="ey-left-nav-logo" height="60" src="/images/logo.svg" width="60">
      </a>
    </div>
    <div>
      <ul class="ey-left-nav-list w-list-unstyled">
        <li class="ey-left-nav-list-item">
          <a class="active ey-nav-link-bloc w-inline-block" href="/dashboard">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons active nav-ico">home</span> HOME</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="/register">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons nav-ico">flight</span> My Trips</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="#">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons nav-ico">today</span> Calendar</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="#">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons nav-ico">library_books </span>DOCUMENTS</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc tax-org w-inline-block" href="#">
            <div class="ey-nav-link-text">TAX ORGANISER</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc tax-org w-inline-block" href="#">
            <div class="ey-nav-link-text">TAX ORGANISER</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="#">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons nav-ico">done_all</span> TASKS</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="#">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons nav-ico">local_library </span>RESOURCES</div>
          </a>
        </li>
        <li class="ey-left-nav-list-item">
          <a class="ey-nav-link-bloc w-inline-block" href="#">
            <div class="ey-nav-link-text w-clearfix"><span class="material-icons nav-ico">phone</span> CONTACTS</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>
